<!DOCTYPE html>
<html>

<head>


</head>
<body>
<center>
  <form method="POST">
  
    <form>
      <h1>Machine Learning of Grade Prediction</h1>
<br><br>
    <table border="1" width="400">
    <tr>
      <td width="30%">Your Age:</td><td><input type="number" name="age" min="1" max="99"></td>
    </tr>
    <tr>
      <td width="30%"> Your Math Result</td><td><input type="number" name="math" min="1" max="99"></td> 
    </tr>
    <tr>  
      <td width="30%"> Your English Result</td><td><input type="number" name="eng" min="1" max="99"></td>
    </tr>
    <tr>  
    </tr>
    <td width="30%">Enter Your Information</td><td><input type="submit" type="Next"></td>
    </tr>
      <br>

    </form>

    <br><br>

  <table border="1" width="400">
<tr>
  <td width="30%"> Your Output</td><td><label>{{href2}}</label></td>
</tr>
 </table>
</center>

</body>
</html>


